name: manunitedapk
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  http: ^0.13.6  
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3
  lucide_icons: ^0.257.0
  rename: ^3.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
